<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Distances</title>
</head>
<body>
    <h1>History of Queries for Distance Calculation</h1>
    <table border="1">
        <tr>
            <th>Source Address</th>
            <th>Destination address</th>
            <th>Distance km</th>
        </tr>
        {% for distance in distances %}
        <tr>
            <td>{{ distance[0] }}</td>
            <td>{{ distance[1] }}</td>
            <td>{{ distance[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back</a>
</body>
</html>
