<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Distância</title>
</head>
<body>
    <h1>Calculadora de Distância</h1>
    <form action="/result" method="post">
        <label for="endereco1">Endereço 1:</label><br>
        <input type="text" id="endereco1" name="endereco1" required><br>
        <label for="endereco2">Endereço 2:</label><br>
        <input type="text" id="endereco2" name="endereco2" required><br><br>
        <input type="submit" value="Calcular Distância">
    </form>
</body>
</html>
